{% extends 'blog/home.html' %}

{% block description %}
<meta name="description" content="About Umang Parmar">
{% endblock %}

{% block header %}
	<header class="center-align teal darken-1 white-text" style="height: 100px;">
		<p class="flow-text"><b>Tech Enthusiast | Developer | Curious Creature | Linux over Anything</b></p>
	</header>
{% endblock %}

{% load static %}

{% block about %}
    <div class="row valign-wrapper">
        <div class="col s10 m10 l12 offset-s1 offset-m1 valign">
            <div class="card white hoverable">
            <div class="card-content dark-text">
            {% for k,v in about_me.items %}
                <p>{{ v | linebreaks }}</p>
                <br/>
            {% endfor %}
            </div>
            </div>
        </div>
    </div>
{% endblock %}
