{% extends 'blog/home.html' %}

{% block list %}
{% endblock %}

{% block description %}
<meta name="description" content="About Umang Parmar">
{% endblock %}

{% load static %}

{% block page_header %}
    <h1>I Worship Linus.</h1>
    <span class="subheading">Developer | Tech Enthusiast | Curious creature</span>
{% endblock %}
    
{% block about %}
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Hi! My name is Umang. I am pursuing undergraduate degree in Information and Communication Technology 
            field. I am very much interested in Operating Systems and Computer Networks. In addition to these, I
            like backend development, playing with data and creating android applications.</p>
          <p>I am strong believer of open source. I use only *nix operating systems for my daily usage.
            On non-technical side, I like to play badminton and sometimes I write!
          </p>
        </div>
      </div>
    </div>

{% endblock %}