{% extends 'blog/home.html' %}

{% block description %}
<meta name="description" content="Archive view of Umang Parmar's blog">
{% endblock %}

{% block header %}
{% endblock %}

{% load static %}
{% load filters %}

{% block archive_view %}
<ul class="collapsible">
    {% for key, value in years.items %}
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ key }}</div>
        <div class="collapsible-body">
            <ul class="collection">
                <li class="collection-item"><a href="{% url 'year_archive' year=key %}">All posts from year {{ key }}
                        ({{ value }})</a></li>
                {% with months_count=months|get_months_for_year:key %}
                    {% for key1, value1 in months_count.items %}
                        {% with month_id=key1|get_int_by_month %}
                            {% if value1 == 0 %}
                            {% else %}
                            <li class="collection-item"><a href="{% url 'month_archive' year=key month=month_id %}">{{ key1 }} ({{ value1 }})</a></li>
                            {% endif %}
                        {% endwith %}
                    {% endfor %}
                {% endwith %}
            </ul>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}