{% extends 'blog/home.html' %}

{% block description %}
<meta name="description" content="Archive view of Umang Parmar's blog">
{% endblock %}

{% block header %}
{% endblock %}

{% load static %}
{% load filters %}

{% block archive_view %}
<ul class="collapsible">
    {% for key, value in years.items %}
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{ key }}</div>
        <div class="collapsible-body">
            <span><a href="{% url 'year_archive' year=key %}">All posts from year {{ key }} ({{ value }})</a></span>
            {% with months_count=months|get_months_for_year:key %}
            {% for key1, value1 in months_count.items %}
                {{key1}}
            {% endfor %}
            {% endwith %}
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}