{% extends 'blog/home.html' %}
{% load static %}

{% block list %}
{% endblock %}

{% block header %}
	<header class="center-align teal darken-1 white-text" style="height: 100px;">
      <p class="flow-text"><b>Have questions? I have answers.</b></p>
	</header>
{% endblock %}

{% block contact %}

    <div class="container flow-text">
      <div class="row">
        <div class="col s10 m12">
          <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>
          <div class="row">
              <form class="col s12">
                  {% csrf_token %}
                <div class="row">
                    {% for field in form %}
                    <div class="input-field col s6">
                        <label>{{ field.label }}</label>
                        {{ field }}
                        <p class="help-block text-danger"></p>
                      </div>
                    {% endfor %}
                  </div>
            
            <div id="success"></div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>

{% endblock %}