{% extends 'blog/home.html' %}
{% load static %}

{% block list %}
{% endblock %}

{% block header %}
	<header class="center-align teal darken-1 white-text" style="height: 100px;">
      <p class="flow-text"><b>Have questions? I have answers.</b></p>
	</header>
{% endblock %}

{% block contact %}
    <div class="row flow-text">
		<form class="col s10 m10 l12 offset-s2 offset-m1 offset-s1">
			{% csrf_token %}
			<div class="row">
				{% for field in form %}
				<div class="input-field col s10 m10 l12 offset-m1 offset-s1">
						<label class="black-text"><h7>{{ field.label }}</h7></label>
						{{ field }}
						<p class="help-block text-danger"></p>
				</div>
				{% endfor %}
				<div class="col s10 m10 l12 offset-m1 offset-s1">
					<button type="submit" class="btn">Send</button>
				</div> 
			</div>
		</form>
    </div>
{% endblock %}