{% extends 'blog/home.html' %}

{% block heading %}
{% endblock %}

{% block list %}
{% endblock %}

{% block post_details %}
    <header class="jumbotron text-center">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-xs-4 col-lg-8 col-md-10 mx-auto">
            <div class="post-heading">
              <br/>
              <h1>{{ post.title }}</h1>
              <span class="meta">Posted by Umang on 
                {% if post.published_date %}
                      {{ post.published_date }}
                {% endif %}
              </span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-lg-8 col-md-10 mx-auto">
              <p>{{ post.body|linebreaksbr }}</p> 
          </div>
        </div>
        <hr>
        <div class="row">
            <hr>
            {% for comment in post.comments.all %}
                <div class="col-sm-4 col-lg-8 col-md-10 mx-auto">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.msg |linebreaks }}</p>
                </div>
            {% endfor %}
        </div>
        {% if post.published_date %}
          <div class="row">
            <div class="col-sm-4 col-lg-8 col-md-10 mx-auto">
              <form name="sentMessage" id="contactForm" validate>
                    <div class="form-group controls">
                      <label>Name</label>
                      <input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">
                      <p class="help-block text-danger"></p>
                  </div>
                  <div class="control-group">
                    <div class="form-group controls">
                      <label>Message</label>
                      <input type="text" class="form-control" placeholder="Message" id="text" required data-validation-required-message="Please enter your email address.">
                      <p class="help-block text-danger"></p>
                    </div>
                  </div>
                  <div id="success"></div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
                  </div>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </article>
{% endblock %}
