{% extends 'blog/home.html' %}

{% block content %}

    {% for post in posts %}
        <div class="card mx-auto bg-light" style="width: 50rem;">
            <div class="card-body">
            <h5 class="card-title"><a href="{% url 'post_details' pk=post.pk %}">{{ post.title }}</a></h5>
            <h6 class="card-subtitle mb-2 text-muted">Published on {{ post.published_date }}</h6>
            <hr>
            <p class="card-text">{{ post.summary|linebreaksbr }}</p>
            <a href="{% url 'post_details' pk=post.pk %}" class="card-link">Comments: {{ post.comments.count }}</a>
            <a href="#" class="card-link">Share</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}