{% extends 'blog/home.html' %}
{% load markdownify %}

{% block description %}
<meta name="description" content="{{ post.summary }}">
{% endblock %}

{% block page_keywords %}
<meta name="keywords" content="{{ post.keywords }}">
{% endblock %}

{% block page_title %}
<title>{{post.title}}</title>
{% endblock %}

{% block header %}
	<header class="center-align teal darken-1 white-text" style="height: 140px;">
		<p class="flow-text"><b>{{ post.title }}</b></p>
		<span class="meta">
			{% if post.published_date %}
				Posted by Umang on {{ post.published_date }}
			{% else %}
				{% if user.is_authenticated %}
				  <a class="btn" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
				{% endif %}
			{% endif %}
			{% if user.is_authenticated %}
			  <a class="btn text-white" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
			  <a class="btn text-white" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
			{% endif %}
		</span>
	</header>
{% endblock %}

{% block post_details %}
    <!-- Post Content -->
    <article>
        <div class="row valign-wrapper">
            <div class="col s12 m12 l12 valign">
              <div class="card grey lighten-5">
                <div class="card-content dark-text">
                  <p>{{ post.body | markdown | safe | linebreaks}}</p>
                </div>
              </div>
            </div>
		</div>
		{% if post.published_date %}
        <div class="row">
			<div class="col s12 m12 l12">
				<form method="POST" class="validate">
					{% csrf_token %}
					<div class="row">
						{% for field in form %}
						<div class="col input-field col s5 m5 l5">
							<label class="black-text"><h7>{{ field.label }}</h7></label>
							{{ field }}
						</div>
						{% endfor %}
						<div class="col s5 m5 l5">
							<button type="submit" class="btn">Send</button>
						</div>
					</div>
            	</form>
			  </div>
		</div>
		<div class="row">
			<div class="col s12 m12 l12">
				{% for comment in post.comments.all %}
					<blockquote>
						<h6><strong>{{ comment.msg | linebreaks }}</strong></h6>
						<strong class="teal-text">{{ comment.author }}</strong> wrote on {{ comment.created_date }}
					</blockquote>
				{% endfor %}
			</div>
		</div>
		{% endif %}
    </article>
{% endblock %}
