{% extends 'blog/home.html' %}

{% block list %}
{% endblock %}

{% block page_header %}
 <h1>{{ post.title }}</h1>
    <span class="meta">Posted by Umang on 
      {% if post.published_date %}
            {{ post.published_date }}
      {% else %}
          {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
          {% endif %}
      {% endif %}
      {% if user.is_authenticated %}
        <a class="btn btn-default text-white" href="{% url 'post_edit' pk=post.pk %}">Edit</a>
        <a class="btn btn-default text-white" href="{% url 'post_remove' pk=post.pk %}">Delete</a>
      {% endif %} 
{% endblock %}

{% block post_details %}
    <!-- Post Content -->
    <article>
      <div class="container">
        <div class="card mx-auto bg-light border-dark" style="width: 60rem;">
          <div class="card-body">
            <p class="card-text">
              <p>{{ post.body|linebreaksbr }}</p>
            </blockquote>
          </div>
        </div>
        <hr>
        <ul class="list-group mx-auto" style="width: 60rem">
          {% for comment in post.comments.all %}
          <li class="list-group-item">
              <strong>{{ comment.msg | linebreaks }}</strong> 
              <small>{{ comment.author }} Wrote, on {{ comment.created_date }}</small>
          </li>
          {% endfor %}
        </ul>
        {% if post.published_date %}
        <br/>
          <div class="row">
            <div class="col-sm-4 col-lg-10 col-md-12 mx-auto">
              <form name="sentMessage" method="POST" validate>
                {% csrf_token %}
                <div class="form-row">
                 {% for field in form %}
                      <div class="col">
                       <label>{{ field.label }}</label><br/>
                       {{ field }}
                      </div>
                  {% endfor %}
                </div>
                <br>
                <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
              </form>
            </div>
          {% endif %}
        </div>
      </div>
    </article>
{% endblock %}
