{% extends 'blog/home.html' %}

{% block content %}

    {% for post in posts %}
        <div class="row valign-wrapper">
            <div class="col s10 offset-s1 valign">
              <div class="card white hoverable">
                <div class="card-content dark-text">
                  <span class="card-title deep-purple-text"><b>{{ post.title }}</b></span>
                  <p>{{ post.summary | linebreaksbr }}</p>
                </div>
                <div class="card-action">
                  <a href="{% url 'post_details' slug=post.slug %}" class="deep-purple-text">Read More...</a>
                </div>
              </div>
            </div>
        </div>
    {% endfor %}

{% endblock %}